<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home"><img id="image" style="width: 60px; " th:src="@{/img/guitar.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
        </ul>
    </div>
</nav>


<form th:action="@{/searchResult}" method="get" style="margin-top: 150px">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search here..." id="inputName" th:name="searchString"/>
    </div>
    <button type="submit" class="btn btn-success" style="background-color: #EC9129; position: relative; left: 0; right: 0; margin-left: 40%; border-color: black">Search</button>
</form>


<div class="wrapper">
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <th><h3 class="display-6">Random artists</h3></th>
            </thead>
            <tbody>
            <tr th:each="art:${artists}">
                <td th:text="${art.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <th><h3 class="display-6">Random tracks</h3></th>
            </thead>
            <tbody>
            <tr th:each="tra:${tracks}">
                <td th:text="${tra.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <th><h3 class="display-6">Random genres</h3></th>
            </thead>
            <tbody>
            <tr th:each="gen:${genres}">
                <td th:text="${gen.getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>